<p id="notice"><%= notice %></p>

<h1>Friends</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Friend</th>
		</tr>
	</thead>

	<% @friendships.each do |friendship| %>

    	<tr>
    		<td><%=friendship.user.name %></td>
    		<td><%=friendship.friend.name %></td>
    	</tr>

	<% end %>

</table>

<select>
	<% @users.each do |user| %>
		<option value=user.name><%=user.name %></option>
		<% end %>
</select>

<button type="button"> <%= link_to 'Friend Request', friend_requests_path %> </button>
<br>

<%= link_to 'Back', notes_path %>