<%= form_with(model: collection_note, local: true) do |form| %>
  <% if collection_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection_note.errors.count, "error") %> prohibited this collection_note from being saved:</h2>

      <ul>
      <% collection_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :collection_id %>
    <%= form.text_field :collection_id %>
  </div>

  <div class="field">
    <%= form.label :note_id %>
    <%= form.text_field :note_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
