<p id="notice"><%= notice %></p>

<h1>Collection Notes</h1>

<table>
  <thead>
    <tr>
      <th>Collection</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collection_notes.each do |collection_note| %>
      <tr>
        <td><%= collection_note.collection %></td>
        <td><%= collection_note.note %></td>
        <td><%= link_to 'Show', collection_note %></td>
        <td><%= link_to 'Edit', edit_collection_note_path(collection_note) %></td>
        <td><%= link_to 'Destroy', collection_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection Note', new_collection_note_path %>
